@import 'src/styles/base';

.footerBackground {
  background-color: $footerBlack;
  height: 200px;
}

.footerLeft {
  position: absolute;
  bottom: 30px;
  left: 40px;
  height: 150px;
}

.contact {
  text-align: center;
}

.mlh {
  position: absolute;
  left: 40px;
  height: 150px;
}

.contactContainer {
  padding-left: 0;
  text-align: center;
  padding-top: 50px;
}

.footerIcon, .footerIcon:visited, .footerIcon:link, .footerIcon:active {
  cursor: pointer;
  padding: 20px;
  color: #FFFFFF;
  font-size: 2em;
}

.footerIcon:hover {
  color: $applyBlue;
}

.copyright {
  padding-top: 30px;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 1px;
}
